
 .modal-body-style
 {
    padding: "10px";
    display: "flex";
    justify-content: "center";
    align-items: "center";
    color: #ffffff;
    font-size: 16px; 
    text-transform:uppercase ;
 }

 .modal-body-container-style
 {
  background-color:#1f2327;
  padding: 0px 10px 10px 10px;
 }

 .modal-back
 {
   top: 0;
   position: fixed;
   width: 100%;
   height: 100%; 
   background-color: rgba(0, 0, 0, 0.5);
   backdrop-filter: blur(3px);
 }