.sidebar-generation-container{
    display: flex;
    flex-Direction: column;
    gap: 10px;
}

.sidebar-generation-edit-btns{
    display: flex;
    flex-Direction: column;
    gap: 40px;
    margin-Top: 40px;

    .sidebar-generation-edit-btn{
        display: flex;
         justify-Content: center
    }

    .sidebar-generation-save-btn{
        width: 40%; cursor: pointer;
    }

    .sidebar-generation-remove-btn{
        width: 35%; cursor: pointer;
    }
}

.side-bar-btn-background{
    background: #e11b19

}

