

.new-chapter-popup {
  padding-top: 15px;
  width: 620px;
}

.course-container {
  display: flex;
  flex-direction: column;
}

.course-element {
  margin-bottom: 30px;
}

.element-chapter {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  align-items: center;
}

.new-course-input {
  width: 320px !important;
}

.new-course-input-rtl{
  width: 365px !important;
}

.help-block {
  color: white;
}

.course-check-input {
  margin-left: 95px;
}

.element-label {
  flex-shrink: 0;
  color: var(--1-ffffff, #fff);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  padding-right: 19px;
}

.e-input {
  padding-left: 10px;
  border-radius: 15px;
  background: #d9d9d9;
  color: #000;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  height: 60px;
  width: 250px;
  padding: 10px;
}



.chapter-title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.chapter-title {
  color: var(--1-ffffff, #fff);
  font-size: 20px;
  line-height: 30px; 
  text-transform: uppercase;
  padding-bottom: 30px;
  font-weight: bold;
}

.buttons-chapter {
  display: flex;
  width: 185px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  background: var(--6-e-82-e-2-c, #e11b19);
  color: var(--2-f-9-f-9-f-9, #f9f9f9);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  height: 60px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
}

.checkbox-container input {
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: relative;
  height: 30px; 
  width: 30px; 
  margin-right: 10px; 
  background-color: transparent; 
  border: 2px solid #ffffff; 
  border-radius: 5px;
}

.checkbox-container input:checked + .checkmark {
  background-color: transparent; 
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked + .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 9px;
  top: 3px;
  width: 8px;
  height: 18px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.newscene-name-item{
  display: flex;
  flex-direction: column;
  align-items: end;
}