
.modal-body-style
{
   padding: "10px";
   display: "flex";
   justify-content: "center";
   align-items: "center";
   color: #ffffff;
   font-size: 16px; 
   text-transform:uppercase ;
}

.modal-body-container-style
{

 padding: 0px 10px 10px 10px;
}

.modal-back
{
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5);
 
  backdrop-filter: blur(3px);
}

.country-name
{
    font-size: 14px;
    color: rgb(201, 191, 191);
}

.flag
{
    width: 50px !important;
    height: 33px !important;
    margin-right: 6px;
    border-radius: 5px;
    font-weight: bold;
}

.flag-container
{
    width: 430px;
    display: flex;
    margin-bottom: 10px;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
   justify-Content:space-between;
   align-items: center;
}
.flag-container:hover
{opacity: 0.6;}

.setting-icon
{
    font-size: 24px;
    position:absolute;
    left: 10px;
    cursor: pointer;
}




/* Hide the default radio button */
.nice-radio input {
    display: none;
  }
  
  /* Style the custom radio button */
  .nice-radio .radio-dot {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #717171;
    border-radius: 50%;
    position: relative;
    transition: background-color 0.3s ease-in-out;
  }
  
  /* Style the checked state of the custom radio button */
  .nice-radio input:checked + .radio-dot::after {
    content: "";
    position: absolute;
    top: 2.6px;
    left: 2.6px;
    width: 9px;
    height: 9px;
    background-color: #989898;
    border-radius: 50%;
  }
  
  /* Style the hover state of the custom radio button */
  .nice-radio:hover .radio-dot {
    border-color: #666;
  }
  
  /* Style the focus state of the custom radio button */
  .nice-radio input:focus + .radio-dot {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  /* Style the radio button label */
  .nice-radio {
    display: inline-block;
    cursor: pointer;
    color: #333;
    margin-right: 20px;
  }
  
  .settingsPopup{
    width: 80vw; height: 35vh; background-Color: rgba(0, 0, 0, 0.9); border-Radius:"20px"
  }

  .settingsModal{
     justify-Content: center; align-Items: center; position: fixed; top: "0px"; left: "0px"; right: "0px"; bottom: "0px"
  }

  .settings-modal-body{
    display: flex; justify-Content: center; align-Items: center; flex-Direction: column; color: #ffffff; font-Size: 14px;position:"relative"
  }
